:root {
    --color-type-bug: #8CB330;
    --bgcolor-type-bug: #8BD674;
    
    --color-type-dark: #58575F;
    --bgcolor-type-dark: #6F6E78;

    --color-type-dragon: #0F6AC0;
    --bgcolor-type-dragon: #7383B9;

    --color-type-electric: #EED535;
    --bgcolor-type-electric: #F2CB55;

    --color-type-fairy: #ED6EC7;
    --bgcolor-type-fairy: #EBA8C3;

    --color-type-fighting: #D04164;
    --bgcolor-type-fighting: #EB4971;

    --color-type-fire: #FD7D24;
    --bgcolor-type-fire: #FFA756;

    --color-type-flying: #748FC9;
    --bgcolor-type-flying: #83A2E3;

    --color-type-ghost: #556AAE;
    --bgcolor-type-ghost: #8571BE;

    --color-type-grass: #62B957;
    --bgcolor-type-grass: #8BBE8A;

    --color-type-ground: #DD7748;
    --bgcolor-type-ground: #F78551;

    --color-type-ice: #61CEC0;
    --bgcolor-type-ice: #91D8DF;

    --color-type-normal: #9DA0AA;
    --bgcolor-type-normal: #B5B9C4;

    --color-type-poison: #A552CC;
    --bgcolor-type-poison: #9F6E97;

    --color-type-psychic: #EA5D60;
    --bgcolor-type-psychic: #FF6568;

    --color-type-rock: #BAAB82;
    --bgcolor-type-rock: #D4C294;

    --color-type-steel: #417D9A;
    --bgcolor-type-steel: #4C91B3;

    --color-type-water: #4A90DA;
    --bgcolor-type-water: #58ABF6;
}