@font-face {
    font-family: 'SF Pro Display';
    src: url('../../fonts/sf-pro-display-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('../../fonts/sf-pro-display-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../../fonts/sf-pro-display-bold.ttf') format('truetype');
}