.title {
    font: 10rem 'SF Pro Display Bold';
}
.app-title {
    font: 3.2rem 'SF Pro Display Bold';
}
.filter-title {
    font: 1.6rem 'SF Pro Display Bold';
}
.description {
    font-size: 1.6rem;
}
.pokemon-name {
    font: 2.6rem 'SF Pro Display Bold';
}
.pokemon-number {
    font: 1.2rem 'SF Pro Display Bold';
}
.pokemon-type {
    font: 1.2rem 'SF Pro Display Medium';
}